[
    {
        "enabled": true,
        "phoneNumber": "",
        "cipherWord": "",
        "location": "",
        "deviceName": ""
    },
    {
        "enabled": false,
        "phoneNumber": "",
        "cipherWord": "",
        "location": "",
        "deviceName": ""
    }
]
